<!-- <input type="text" (input)="onUpdateServerName($event)" /> -->
<input type="text" [(ngModel)]="serverName" />
<button [disabled]="serverEnabled" (click)="serverStatusChanger()">
  Add server
</button>
<p *ngIf="serverAdded; else noServer">{{ serverStatus }}</p>
<ng-template #noServer>
  <p>Server detection error!</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>

<button (click)="Togler()">Display Details</button>
<p [innerText]="secretP"></p>
<p
  *ngFor="let elem of logofEvent; let i = index"
  [ngStyle]="{ backgroundColor: setBackGround(i) }"
  [ngClass]="decideClass(i)"
>
  {{ elem }}
</p>
